{% include 'header.html' %}
<h1>Hola flask</h1>
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre:</th>
            <th>Correo:</th>
            <th>Foto:</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{empleado.id}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.correo}}</td>
                <td>
                    <img width="100" src="foto_usuario/{{empleado.foto}}" alt="foto de perfil">
                </td>
                <td>
                    <a class="btn btn-warning" href="/modify/{{empleado.id}}">Editar</a>
                    <a class="btn btn-danger" id="btnBorrar" href="/delete/{{empleado.id}}">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}